html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
body { background-color: #282828; margin: 24px 0; }
#container { height: 100%; margin: 0 auto; max-width: 250px; width: 100%; }
.container-fluid { background-color: #f0f0f0; }

/*
 * Detail Page(s)
 */
#home-anchor { display: block; font-size: 24px; padding: 8px 12px; }
#detail h1 { margin-top: 0; }