$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/*
 *
 *  Bootstrap Overrides 
 * 
 */
body { font-family: 'Roboto', sans-serif; margin: 0; padding: 0; }
.row { margin: 0;}
.header, .footer { background: #fff; padding: 12px; }
.header { margin-bottom: 0;}
.header ul { background-color: #007ba2; }
.header ul li a { color: #c5c5c5; }
.header ul { background-color: rgba(0, 123, 162, 0.9); border: 4px solid #005B77; border-radius: 8px; }
.header .nav a:hover, .header .nav a:focus { background-color: transparent; color: #fff; text-shadow: 1px 1px 1px #fff; }
.container .header .active a, 
.container .header .active a:hover, 
.container .header .active a:focus { background-color: transparent; color: #fff; font-weight: bold; text-shadow: none; }
.header .text-muted { color: #f40e63; font-family: 'Roboto Slab', sans-serif; font-size: 40px; font-weight: bold; text-transform: uppercase; }
.footer { background-color: #444444; color: #ffffff; }
.footer p { margin-bottom: 0; position: relative; }
.footer .glyphicon-heart { color: #E8110F; }
.footer .contact { position: absolute; right: 0; }
.footer a { color: #fff;}

/*
 *
 *  Get2Gether App-specific CSS
 * 
 */
body { background-color: #fff;}
.container { background: #fff; padding: 0; }
#main .content { padding: 24px 12px; }
#main .glyphicon-map-marker { color: #E03F33; }
.edit-profile { font-size: 28px; }
.content .btn-auth { background-color: #f40e63; color: #ffffff; font-family: 'Roboto Slab', sans-serif; font-weight: bold; padding: 12px; text-transform: uppercase; }
.user { background-color: #d7dddf; border-bottom: 1px solid #97b1b1; padding: 12px; }
.user:last-child { border-bottom: none;}
.image img { min-width: 75%; max-width: 100%; width: 100%; }
.profile a strong { font-size: 30px; }
.profile p { margin: 0;}
.me .image { padding: 0; }
h3 { color: #0e5f78; text-transform: lowercase; }
.edit-profile button { font-size: 18px; }
.edit-profile button .glyphicon { font-size: 18px; margin-right: 8px; top: 2px;}

/*
 *
 * Google Maps CSS 
 * 
 */
#map-canvas { height: 250px; margin: 0 auto; max-width: 730px; }
.profile-info { width: 110px; height: 150px; }